@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-principal: #294B29;
    --cor-secundaria: #F0EDCF;
    --cor-apoio1: #40A2D8;
    --cor-apoio2: #0B60B0;
    --font-principal: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);   
    box-sizing: border-box;
}

.principal__sobremim {
    display: flex;
    margin: 2% 15%;
}

.principal__sobremim__informacoes {
    width: 70%;
    padding: 0 1rem;
}

.principal__sobremim__imagem {
    width: 25%;
}

.principal__sobremim__titulo {
    font-family: var(--font-principal);
    font-size: 46px;
    text-align: center;
    padding: 1rem;
}

.principal__sobremim__descricao {
    font-family: var(--font-secundaria);
    font-size: 24px;
    padding: 1rem;
    text-align: center;
}

.publicacoes {
    margin: 0 10%;
}

.publicacoes__artigo {
    margin: 2rem 1rem;
}

.publicacoes__artigo__titulo {
    font-size: 3rem;
    font-family: var(--font-secundaria);
    font-weight: 600;
    padding: 1rem;
}

.publicacoes__artigo__paragrafo {
    font-size: 24px;
    font-family: var(--font-secundaria);
    font-weight: 400;
    padding: 1rem;
    text-align: justify;
}

.publicacoes__artigo__links {
    padding: 1rem;
}

.publicacoes__artigo__lista {
    display: flex;
    justify-content: space-around;
}

.publicacoes__artigo__links li {
    list-style: none;
    background-color: var(--cor-apoio1);
    color: var(--cor-apoio2);
    border-radius: 0.5rem; 
    padding: 1rem;
    width: 20%;
    text-align: center;
}

.publicacoes__artigo__links a {          
    display: inline-block;
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;    
    text-decoration: none;   
}

.publicacoes__artigo__links-abreviacao {
    text-transform: uppercase;
}